<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!-- Allow SignalR requests 
          This has to be patched after the user resolver for authorization -->
        <processor type="SitecoreSignalR.Tools.Configuration.SignalRIgnoreUrlPrefix, SitecoreSignalR.Tools"
        patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>